/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #ffffff;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    background-color: #f0ebeb;
    scroll-behavior: smooth
}

ol, ul,li {
    list-style: none;
    
    }

a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/
 
section.menu{
  margin: 5px;
  border: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1365d9;
  color: #f3e6ea;
    gap: 2em;



  
}


 
 
.menu__vertor{
margin: 2rem;
height: 20px;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
  
    

 
}


.menu__title {
  margin-left: 1rem;
  background-color: #e8e0e0;
}


  
  
.menu__list{
  display: flex;
  justify-content: space-between;
  
}



.menu__list__item a{
  display: flex;
margin-right: 1rem;
  justify-content: space-between;
  color: #0a0a0a;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  gap: 2rem;
  



  
  
  
}
/*Sección Title y network*/


.title__div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  


}
.title__bio{
  font-size: 1.1rem;
  text-align: justify;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #ac1d1d;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 2.5;
  cursor: pointer;
  

  
  }
 .title__subsection{
  font-size: 1.1rem;
  text-align: justify;
  text-align: center;
  font-family: 'Raleway', sans-serif;

  margin-top: 1rem;
  
  cursor: pointer;
 }
 



.title__profile {
position: relative;
 width: 268px;
height: 268px;
padding: 2px;
border-radius: 50% 30%;
cursor: pointer;
    
  }
     
  



.title__network{
  display: flex;
  padding-inline-start: 0px;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}
.title__network__item img{
  margin-top: 2rem;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  height: 40px;

}
.title__network__item img:hover  {
	animation: icono .5s ease;
}

.title__div{
  
  display: flex;
  justify-content: center;
  background-color: rgb(234, 237, 245);
  height: 45vh;
  width: 95vw;
  margin-top: 2rem;
  align-items: center;
  padding: 2em;
  border-radius: 10px;
  cursor: pointer;

}



/*Sección About*/

.about { 
  padding: 1rem 6rem;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  cursor: pointer;

  width: 95vw;
  margin-top: 2rem;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #f9f8f6f5;
  gap: 1rem
  }



.about__container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 2em;
  border-radius: 10px;
  cursor: pointer;
            }
  
  


.about__title {
  font-size: 1.1rem;
  text-align: justify;
  margin-top: 1rem;

  cursor: pointer;
}

.about__paragraph {
  
  font-size:1.1rem;
  text-align: justify;

  cursor: pointer;
}

/*Sección Skills*/
.skills {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  align-items: center;
  cursor: pointer;
}
.skills__img{
  text-align: center;
  cursor: pointer;
}


.skills__title {
  font-size: 1.5rem;
  font-weight: bold;
  flex-direction: column ;
  cursor: pointer;
}

.skills__line {
  display: flex;
  justify-content:space-around

}

.skills__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  margin-top: 2rem;
  align-items: center;
  
  border-radius: 5%;
  background-color: hsl(0, 27%, 76%);
  margin: 1rem;
  box-shadow: 0px 0px 10px 0px #442e2e;
  margin-right: 0.5re
  
  }
  
  

.skills__box:hover {
  background-color: #2063c2;
}

.skills__box ul {
  padding-inline-start: 0;
}









/*Sección Hobbies*/

.hobbies {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  align-items: center;
  cursor: pointer;
  }
 .hobbies__img{
  text-align: center;
  cursor: pointer;
 }

.hobbies__title {
  font-size: 1.5rem;
  font-weight: bold;
  flex-direction: column ;
  cursor: pointer;
}

.hobbies__line {
  display: flex;
  justify-content: space-around;
  
}

.hobbies__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 5%;
  background-color: hsl(0, 27%, 76%);
  margin: 1rem;
  box-shadow: 0px 0px 10px 0px #442e2e;

  cursor: pointer;
  
}

.hobbies__box:hover {
  background-color: #145fc8;
}

.hobbies__box ul {
  padding-inline-start: 0;
  
}
  
   



/* Experiencia Académica*/
 
.academic__title{
  display: flex;
  margin: 2rem;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
  cursor: pointer;
  }

.academic__courses__item__img{
  margin: 3rem;
  display: flex;
  justify-content:space-evenly;
  flex-direction: column;
align-items: center;
  width: 15VW;
  height: 15VW;
  margin-left:  5rem;
  border-radius: 5%;
  padding: 1rem;
  cursor: pointer;
}


  
  
.academic__courses{
  display: flex;
  width: 100vw;
  justify-content: space-around;
padding: auto;
}

.academic__courses__item__title{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  
  

  }

  .academic__courses__item__subtitle{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  

  }
  
/* profecional experiencia*/

section.experience {

  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-top: 1rem;
  
  align-items: center;
  gap: 2rem;
  padding-left: 5rem;
}
.experience__section__title{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.experience__box {
  display: flex;
  align-items: center;
  background-color: #ebebeb;
}

.experience__img {
  width: 60vw;
  cursor: pointer;
 
  }


.experience__info-container {
  margin: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  
}

.experiencia__botao--repo,
.experience__botao--demo {
  all: unset;
  width: 15vw;
  font-size: 1.4;
  text-align: center;
  border-style: solid;
  border-width: 0.01rem;
  margin-top: 1rem;
  padding: 1rem;
  border-color: #d93f18;
  color: #f7f7f7;
  background-color:#1a4683
}

.experience__botao--demo.active {
  background-color: #2a7ae4;
  color: white;
}










/*Contacto*/

section.formcontato {
  
  margin-top: 2rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-right: 23%;
  padding: auto;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  left: 100px
  
}

.formcontato__contacto {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 2%;
  padding: auto;
  display: flex;
  
  align-items: center;
  left: 100px
  
}

.formcontato__text {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin: 2%;
  padding: auto;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  left: 100px
  
}

.formcontato__subtext {
  font-weight: normal;
  margin-block-start: 1%;
  margin-block-end: 0%;
}

.formcontato__form {
  display: flex;
  flex-direction: column;
}

.input-container {
    
    display: flex;
    flex-direction: column;
    
  }


.formcontato__input {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 3vh;
}

.formcontato__textarea {
  height: 10vh;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.input-message-error {
  color: red;
}

.formcontato__botao {
  all: unset;
  width: 20vw;
  height: 2vh;
  justify-items:center;
  align-items: center;
  border-style: solid;
  border-width: 0.01rem;
  margin-top: 5rem;
  padding: 1rem;
  background-color: #b01b22;
  color: rgb(29, 15, 188);
  text-align: center;
  font-size: 1.4rem;
  margin-left: 8rem;
}
.formcontato__botao:hover{
  background-color: #f5e2ea;
}

/*footeer*/

section.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #931212;
color: #f3e6ea;
  padding: 1rem;
  height: 2vw;
  width: 100vw;
  margin-left: 15rem;
  }
  .footer__rodape p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  
   


/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
/* General styles for smaller screens */
@media only screen and (max-width: 768px) {
  .section.menu {
    flex-direction: column;
    
    }
    .menu__vertor{
      flex-direction:row;
      width: 9%;

    }
  .menu__list__item a{
    margin-right: 0;

    vertical-align: rem;
    align-items: flex-start;
    
    padding: 1dvw;
    border-radius: rem;
    font-size: 65%;
  margin-right: 0.15vmin;
  }
  .mi{
    background-color: #6996e7;
  padding: 1rem;
  border-radius: 50% ;
  color: #fff;
  font-size: 18px;
  margin-right: 1rem;
  cursor: pointer;
font-size: 60%;

  }
  

/* meni title */
  .title {
    
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 5%;

  }

  .title__div {
    margin: 8px;
    flex-direction: column;
    text-align:center;
    color: rgb(18, 18, 18);
    font-size: 0.15svi;
    width: auto;
    height: auto;
  }

  

  .title__profile {
    margin: 6rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 50% 30%;
    
  }

  .title__container {
    gap: 2rem;
    text-align: center;
    font-size: 0.15vw;
    
  }
   .about__container{
    margin: 5rem;
    flex-direction: column;
    text-align: center;
    font-size: 0.15vw;

  

   }


  .skills__line {
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills__box {
    width: 30%;
    margin: 10px;
  }

  .hobbies__line {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hobbies__box {
    width: 30%;
    margin: 10px;
  }
 /* formacion academioa */
  .academic__courses {
    flex-wrap: wrap;
    justify-content: center;
  }

  .academic__courses__box {
    width: 30%;
    margin: 10px;
    margin-left:4rem;
    
  }
.academic__courses__item__title{
  text-align: center;
  align-items: center;
  justify-content: center;
  
  margin-left: 1rem;
  
  
}

.academic__courses__item__img{
  padding: auto;
   justify-content: space-around;
   flex-direction: column;
   align-items: center;
   margin-left: 1.5vw;
  width: 10vw;
  
}
.academic__img{
  background-color: #44acac;
}
 /* experience profecional */
  .experience__box {
    width: 90%;
    margin: 10px auto;
  }

  .experience__img {

    width: 100vw;
    height: auto;
    align-items: center;
  }
/* contacyo */
  .formcontato {
    flex-direction: column;
    align-items: center;
  }

  .formcontato--esquerda {
    width: 100%;
  }

  .contato__img {
    width: 100%;
    height: auto;
  }

  .formcontato__text {
    width:40rem;
    
  }

  .formcontato__form {
    width: 80%;
  }

  .formcontato__input,
  .formcontato__textarea {
    width: 100%;
    margin-bottom: 10px;
  }

  .formcontato__botao {
    width: 100%;
    margin: left 10%;
    align-items: center;
    margin-left: 0.8cap;
    

  }

  /* footer */
  section.footer{
    width: 200%;
    text-align: center;
    
  }
  .footer__rodape{
    align-items: center;
    
    margin-right: 20%;
  }
}



  
    
    


  
/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/


 
 





 
/*Mobile*/

@media screen and (max-width: 480px) {





  
       /*Menu*/

    section.menu {
        width: 30rem;
        align-items: center;
        font-size: 1rem ;
         gap:1%;
    }
    
        
        



    .menu__list {
      width: 100%;
       font-size: 0.15rem;
        flex-direction: column;
      justify-items: center;
        gap: 1rem;
    }

    .menu__list__item a {
      font-size: 1rem;
      background-color: #9a2204;
      border-radius: 50% 0  0 50;
      box-shadow: 1px 1px 1px 0px #7385de; 
      margin-right: 0.5rem;
      padding-left: 1rem;
    }
    .menu__list__item a:hover{
      background-color: #eada75;
    }
      /*Titulo*/

    .title {
        flex-direction: column;
    font-size: 0.8rem;

        }
    

    .title__div {
        -italignems: center;
        justify-content: center;
        gap: 1rem;
        }
    
    .title__profile {
      
        width: 110px;
        height: 110px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
        box-shadow: 1px 1px 1px 0px #0f28a7;
        margin-right: 0.5rem;
        padding-left: 1rem;
        
    }
    .title__profile:hover{
      background: chocolate;
      
    }

    .title__container {
        text-align: center;
      
         
    }
    .title__network__item img{
      
      margin-top: 5rem;
    height: 3rem;
    
      align-items: center;
      

      
  
    
      }
    
    .about__container{
      width:80vw;
      height: 2%;
      justify-items: center;
      align-items: center;
      text-align: center;
       
    }

  .about{
    flex-direction: column;
  

  }
    
     /*Skills*/
    .skills {
        flex-direction: column;
        
    }

    .skills__line {
        flex-wrap: wrap;
    }

    .skills__box {
        width: 25%;
        height: 15%;
        margin-bottom: 1px;
    }
     /*Hobbies*/


    .hobbies {
        flex-direction: column;
    }

    .hobbies__line {
        flex-wrap: wrap;
    }

    .hobbies__box {
        width: 25%;
        height: 15%;
        margin-bottom: 20px;
    }
   /* academia */
.academic__title{
  
  align-items: center;
  text-align: center;
  justify-items: center;
  font-size: 1.5rem

}
  
    section.academic {
      flex-direction: column;
    }
.academic__courses__item__img{
  
  width: 10rem;
  height: 10rem;


  
}
    .academic__courses {
  
        flex-wrap: wrap;
    }

    .academic__courses__box {
        width: 100vw;
        margin-right: auto;
        
        
    }
    .academic__courses__item__title {
      padding-right: 50%;
    
    }
 .academic__courses__item__subtitle{
 padding-right: 50%;
 }
  /*experiencia profecional*/
    .experience {
      
        flex-direction: column;
    
        padding: 12%;
        
    }

    .experiencie__box {
        width: 80%;
        margin-right:10vw;
background-color: #ff8585d5;
        padding: 10%;
        
    }
    .experience__img {
margin: 50rem;
  text-align: center;
  justify-items: center;
  width: 13rem;
  height: 10rem;
  margin: 0 auto;
  
}
.experience__description{
  
  padding: 10px;
  text-align: center;
  font-size: 80%;
background-color: #2a7ae4;
}

    
        /*Contacto*/
    .formcontato__botao {
        flex-direction: column;
        width: 40vw;
        height: 8vw;
        align-items: center;
        margin: 20%;
        
    }

    .formcontato__contacto {
        flex-wrap: wrap;
    }

    .formcontato--esquerda {
        width: 50%;
    }
/* footeer */
.section.footer{
  width: 100vw;
  height: 100vw;

}
    .formcontato__text {
      
        width: 80vw;
        align-items: center;
        justify-content: center;
        margin-right: 5%;

    }

    .footer {
      margin: 1rem;
      padding: 1%;
      flex-direction: column;
        width: 100%;
        height: 50%;
        gap: 1rem;
        
        
    }

    .footer__rodape{
      width: 100%;
      height: 400%;
      align-items: center;
      justify-content: center;
    margin-right:20rem;
    background-color: #9a2204;
    padding: 1rem;

    
    }
    
    }

  
/*Menu*/


/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

 /*experiencia profecional*/

 /*Contacto*/

/*Footer*/


